@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div justify-content-center>
    <h1 class="display-4 text-center extraPadding">Soma Soul Massage Therapy</h1>
    <p class="tightContainer">
        I am a licensed massage therapist in Sonama County specializing in many different massage techniques.
        My objective is to help facilitate healing in the body and mind. From deep tissue to aromatherapy,
        the goal is for you to feel physically and emotionally refreshed.
    </p>
    <div class="text-center">
        Specialities
        <ul class="specials">
            <li>Swedish</li>
            <li>Deep tissue</li>
            <li>Myofascial</li>
            <li>Reflexology</li>
            <li>Aromatheropy</li>
            <li>Hotstones</li>
            <li>Cupping</li>
        </ul>
    </div>

    <div class="button extraPadding">
        <button type="button" class="btn purple btn-lg disabled "><a href="https://www.vagaro.com/stephanieyostlmt"> Schedule an appointment</a> </button>
    </div>
</div>
